html {}

body {
    margin: 0px;
}

.navbar {
    height: 40px;
    padding: 0px 10px 0px 10px;
    width: 100vw-20px;
    display: flex;
    align-items: center;
    border-bottom: solid 0.5px rgb(219, 219, 219);
    font-size: 1em;

}

img {
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    margin-right: auto;
}

li {
    margin-left: 40px;
    padding: 0px;
}

.login {
    height: 1.5em;
    width: 4em;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(54, 104, 255);
}


div>a {
    color: white;
}

a {
    text-decoration: none;
    color: gray;
}

.calendar {
    width: 100vw;
    height: 100vw;
    font-size: 10em;
    text-align: center;
}